<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <div id="app">
            
            <div class="containerPrincipale">

                <div class="containerSinistro">
                    <div class="containerProfilo">
                        <div class="containerImgENome">
                            <div class="containerImg">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <div class="username">
                                Sofia
                            </div>
                        </div>
                        <div class="containerIcone">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="containerAvvisoNotifiche">
                        <div class="campanellaRotonda">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <div>
                               <b>Ricevi notifiche di nuovi messaggi</b> 
                            </div>
                            <div id="attivaNotifiche">
                                <span>Attica notifiche desktop</span>
                            </div>
                        </div>
                    </div>
                    <div class="containerSearchBar">
                        <div id="divLenteSeach">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div id="inputSearch">
                            <input type="search" id="cercaChat" placeholder="Cerca o inizia una nuva chat">
                        </div>
                    </div>
                    <div class="containerChat">
                        <div class="containerSingolaChat" v-for="(person , index) in contacts" @click="setActiveChat(index)">
                            <div id="imgProfilo">
                                <img :src="'img/avatar' + person.avatar + '.jpg'">
                            </div>
                            <div id="testiChat">
                                <div class="username">
                                    {{person.name}}
                                </div>
                                <div class="ultimoMsg">
                                    {{person.messages[0].message}}
                                </div>
                            </div>
                            <div id="oraChat">
                                12:00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="containerDestro">
                    <div class="containerProfiloSelezionato">
                        <div id="imgNomeDestra">
                            <div id="immagineProfiloDestra">
                                <img :src="'img/avatar' + contacts[activeChat].avatar + '.jpg'">
                            </div>
                            <div>
                                <div class="username">{{contacts[activeChat].name}}</div>
                                <div class="ultimoMsg">Ultimo accesso oggi alle 12:00</div>
                            </div>
                        </div>
                        <div class="containerIcone">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="containerChatScreen">
                        <div class="msg" v-for="(message, index) in contacts[activeChat].messages">
                            <div class="msgSent" v-if="contacts[activeChat].messages[index].status == 'sent'">
                                <div class="testoMsg">
                                    {{contacts[activeChat].messages[index].message}}
                                </div>
                                <div class="orarioMsg">
                                    12:00
                                </div>
                            </div>
                            <div class="msgRecived" v-else="contacts[activeChat].messages[index].status == 'recived'">
                                <div class="testoMsg">
                                    {{contacts[activeChat].messages[index].message}}
                                </div>
                                <div class="orarioMsg">
                                    12:00
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    
                    <div class="containerInputTesto">
                        <div class="emoji">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div id="InputMsg">
                            <input type="search" name="inputMessaggio" id="textMsg" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="emoji">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>